@media screen and (max-width: 1599px){
	#portfolio .port_list {
		gap: 62px;
	}

	#portfolio .port_list > li {
		flex: 1 0 calc(100%/3 - 62px);
	}
}

@media screen and (max-width: 1366px){
	html, body {
		font-size: 8px;
	}
}

@media screen and (max-width: 1200px){
	#about .profile_wrap {
		gap: 80px;
	}

	#about .profile_wrap .profile {
		width: 360px;
		height: 380px;
	}

	#about .profile_wrap {
		flex-wrap: wrap;
	}

	#about .profile_wrap .profile {
		width: 100%;
	}

	#about .profile_wrap .profile_right {
		flex: unset;
		width: 100%;
	}

	#skill ul.skills {
		gap: 60px 0;
		justify-content: center;
	}

	#skill ul.skills li {
		width: 33.33%;
	}
}

@media screen and (max-width: 1024px){
	.text {
		font-size: 10rem;
		line-height: 160%;
	}
	
	#about .profile_wrap {
		gap: 46px;
	}

	#flow {
		margin-top: 10vh;
	}
}


@media screen and (max-width: 884px){	
	.text {
		font-size: 7rem;
	}

	#about {
		padding: 6vh 0;
		height: auto;
	}

	#about .inner {
		position: relative;
		left: auto;
		top: auto;
		transform: translate(0, 0);
	}

	#skill ul.skills {
		justify-content: space-between;
	}

	#skill ul.skills li {
		width: 48%;
	}

	#skill .skill_svg svg {
		height: 270px;
	}
	
	#portfolio .port_list {
		gap: 62px 0;
		justify-content: space-between;
	}

	#portfolio .port_list > li {
		flex: unset;
		width: 48%;
	}

	#portfolio .port_list > li.show {
		transform: translateY(0);
	}

	#portfolio .port_list > li.show:nth-child(3n-1) {
		transform: translateY(0);
	}

	#portfolio .port_list > li.show:nth-child(even) {
		transform: translateY(50px);
	}
}

@media screen and (max-width: 640px){
	#header .header_wrap nav {
		display: none;
	}
	
	.text {
		font-size: 5rem;
	}

	#portfolio .port_list {
		width: 100%;
	}

	.cover {
		font-size: 10rem;
	}

	.cover:nth-child(2) {
		margin-top: -3vh;
	}

	#portfolio .port_list > li {
		width: 100%;
		max-width: 100%;
	}

	#portfolio .port_list > li.show:nth-child(even) {
		transform: translateY(0);
	}

	#contact .mail {
		font-size: 4rem;
	}
}

@media screen and (max-width: 460px){
	#contact .mail {
		font-size: 2.8rem;
	}
	
	#skill ul.skills li {
		width: 100%;
	}

	#skill .skill_svg svg {
		height: 38vh;
	}
}

@media screen and (max-width: 320px){
	.text {
		font-size: 3.8rem;
		line-height: 185%;
	}
}
